<div id="account-container">
    <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn-account">
        <img src="/images/users/user-template-male-green.svg" alt="template-avatar">
    </button>
    <div id="account-dropdown" class="dropdown">
        <div class="dropdown-header">
            <div class="account-name">
                <img src="/images/users/user-template-male-green.svg" alt="template-avatar">
                <span>Aron Hektor</span>
            </div>
            <div class="dropdown-body">
                <button class="btn-logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </button>
            </div>
        </div>
    </div>
</div>